
#flash-card01{
     background:linear-gradient(180deg,#48BFE3,#0466C8);
}

#flash-card02{
     background:linear-gradient(180deg,#9381FF,#050EEC);
}

#flash-card03{
     background:linear-gradient(180deg,#FFEE32,#D8973C);
}

#flash-card04{
     background:linear-gradient(180deg,#70E000,#007200);
}